<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6 my-logo">
        <h1>NTT DATA VIET NAM</h1>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6 my-logo-2">
        <h1>DA NANG</h1>
      </div>
    </div>
  </div>
</section>

<section class="member">
  <div class="container">


    <br>
    <br>
    <br>

    <h1 class="member-title">OUR MEMBER</h1>
    <h3 class="member-role-manager">Manager</h3>

    <br>
    <br>

    <div id="managerRow" class="row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="member-item">
          <div class="img-wrapper">
            <img src="<%= image_path("member") %>" class="img-responsive img-circle wp-post-image"/>
          </div>
          <div class="name">
            Phạm Đức Minh
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="member-item">
          <div class="img-wrapper">
            <img src="<%= image_path("member") %>" class="img-responsive img-circle wp-post-image"/>
          </div>
          <div class="name">
            Phạm Đức Minh
          </div>
        </div>
      </div>


    </div>
  </div>
</section>