<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6 my-logo">
        <h1>I LOVE FLOWER & GIRL</h1>
        <div class="logo-image">
          <img src="<%= image_path('mobile-logo-2.png') %>">
        </div>
      </div>
    </div>
  </div>
</section>